<!DOCTYPE html>
<tr data-id="{{id}}"
  data-codigo="{{codigo}}"
  data-nome="{{nome}}"
  data-quantidade-fileiras="{{quantidadeFileiras}}"
  data-quantidade-assentos-fileira="{{quantidadeAssentosFileira}}"
>
  <td>{{id}}</td>
  <td>{{codigo}}</td>
  <td>{{nome}}</td>
  <td>{{quantidadeFileiras}}</td>
  <td>{{quantidadeAssentosFileira}}</td>
  <td class="text-center">
    <a href="#"
      class="glyphicon glyphicon-edit aeronave-edit"
    ></a>
  </td>
  <td class="text-center">
    <a href="#"
      class="glyphicon glyphicon-remove-sign aeronave-delete"
    ></a>
  </td>
</tr>
