body {
    background: url('./../images/background-01.jpg');
}

.jumbotron {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.jumbotron small {
    font-size: 1.4em;
    color: #aaa;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    border: 1px solid #eee;
    background: transparent;
}

.nav-pills>li>a {
    color: #eee;
}

.nav-pills>li>a:hover, .nav-pills>li>a:active, .nav-pills>li>a:focus {
    background: #fff;
    color: #23527c;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: #fff;
}
